<ion-header>
  <ion-toolbar>
    <ion-title>
      L05HandsOn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    
    <ion-card-content>
      <p>Nullam cursus orci felis. Cras in pulvinar erat. Aliquam mollis tincidunt consectetur. Sed accumsan maximus molestie. Suspendisse et magna ultricies, ultrices mi a, posuere ex. Aenean vestibulum gravida lacinia. Maecenas at tristique arcu. Ut vel enim luctus, lacinia velit eu, luctus lectus. Phasellus imperdiet dignissim lacus id auctor. Sed eget lorem quis lacus eleifend lobortis at sed sapien. Aliquam et velit ullamcorper, eleifend dolor non, venenatis velit.</p>
      <img src="https://picsum.photos/id/870/200/300?grayscale&blur=2">
      <p class="pagenumber">2</p>
    </ion-card-content>
    <ion-tab-button tab="tab3">
      <ion-button>
        <ion-label>Previous Page</ion-label>
       </ion-button>
    </ion-tab-button>
  </ion-card>
  
</ion-content>