<ion-header>
  <ion-toolbar>
    <ion-title>
      L05HandsOn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Chapter One</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacus ligula, pretium vitae cursus sed, laoreet eu est. Praesent tellus lorem, dapibus sed purus tempor, vestibulum tincidunt nisi. Cras nec maximus nisi. Praesent aliquam et nisi at varius. Sed semper felis magna, et varius dolor rutrum sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed pellentesque, ex suscipit euismod convallis, felis purus elementum nibh, eu interdum nibh nisi eu velit.</p>
      <p class="pagenumber">1</p>
    </ion-card-content>
    <ion-tab-button tab="tab2">
      <ion-button>
        <ion-label>Previous Page</ion-label>
       </ion-button>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-button>
        <ion-label>Next Page</ion-label>
       </ion-button>
    </ion-tab-button>
  </ion-card>

</ion-content>
